<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="org.example.database.model"/>
    </typeAliases>

    <mappers>
        <mapper resource="mapper/CategoriesMapper.xml"/>
        <mapper resource="mapper/PackagesMapper.xml"/>
        <mapper resource="mapper/StickersMapper.xml"/>
    </mappers>
</configuration>